body {
	/*background-image: url("images/wood-background.jpg");*/
	/*background-repeat: repeat;*/
}

#container {
	height: 450px;
	width: 450px;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
	border-radius: 50%;
}

.color-button {
	display: inline-block;
	height: 49%;
	width: 49%;
	filter: brightness(0.75);
}

#center {
	height: 10%;
	width: 10%;
	background-color: black;
	margin: 0 auto;
	top: 10%;
}

.blue {
	background-color: rgb(102,178,255);	
	border-radius: 75% 0 0 0;
}

.yellow {
	background-color: rgb(255,255,102);
	border-radius: 0 75% 0 0;
}

.green {
	background-color: rgb(102,255,102);
	border-radius: 0 0 0 75%;
}

.red {
	background-color: rgb(255,102,102);
	border-radius: 0 0 75% 0;
}

.active {
	filter: brightness(1);
	display: inline-block;
	height: 49%;
	width: 49%;
}

#dashboard {
	margin: 0 auto;
	text-align: center;
}

#score, #start, #steps {
	font-size: 25px;
}

#start {
  background-color: green; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#restart {
	background-color: orange; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#strict-mode {
	margin-top: 5px;
	background-color: purple; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#message {
	margin: 0 auto;
	text-align: center;
	color: red;
	font-size: 25px;
}